#wrap {
    margin: 100px 400px;
    border: 5px dashed;
    text-align: center;
    background-color:#de8c5f;
}

.header{
    border-bottom: 5px dashed;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.footer {
    font-size: xx-small;
}


.para {
    text-align: justify;
    font-size: small;
    font-family: monospace;
    padding-right: 10px;
    padding-left: 10px;
}

li {
    font-style: italic;
}

li::first-letter {
    font-size: xx-large;
}